spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Library
    username: postgres
    password: 976431
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true  #todo
    properties:
      hibernate:
        format_sql: true
server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      min-spare: 5
      max: 50